*{
    margin:0;
    padding :0;
   .germania-one-regular 
   {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 31, 46, 0.742))
    ,url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    display: inline;
     font-size: 13;
}

.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #0bba4b;
     display: block;
     margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
}
.new-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.new-btn:hover{
    border: 9px solid #bb7a09;
    background: #bb7a09;
    transition: 1s;

}
nav.fa{
    display: none;
}
 @media(max-width:700px){
    .text-box h1{
        font-size: 62px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #725d24;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color:#fff;
        margin: 10 px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
    nav i{
        font-size: 24 px;
        color: #fff;
        cursor: pointer;
    }
 }
 .PACKAGES{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 .PACKAGES h1{
    font-size: 36px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
 }
 .PACKAGES p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

 }
 .packages-type{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .packages-type:hover{
    box-shadow: 0 0 21px 0px rgba(10, 162, 197, 0.288);
 }
 h6{
    text-align: center;
    font-weight: 300;
    margin: 5px 0;
 }
 @media(max-width:700px){
    .row{
        flex-direction: column;
    }
 }

 .campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
 }
 .campus-col{
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }
 .campus-col img{
    width: 100%;
    display: block;

 }
 .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
 }
 .layer:hover{
    background: rgba(7, 179, 209, 0.288);
 }
 .layer h3{
    width:100% ;
    font-weight:500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
 }
 .layer:hover h3{
    bottom: 49%;
    opacity: 1;
 }
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
    column-gap: 5px;  

}
 h1{
    text-align: center;
 }

.facility-col{
    flex:1;
    align-items: center;
    min-width: 250px;
    max-width: 350px;
    border-radius: 10px;
    
     }
.facility-col img{
    width: 250px;
     height: 250px;
    margin-bottom: 5px;
    border-radius: 10px;
    


}
.facility-col p{
    margin:  0;
    font-size: 14px;

}
.facility-col h3{
    text-align: center;
    margin: 10px 0 5px;
    font-size: 18px;
}

.testimony{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimony-row{
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10%;
}
.testimony-col{
    flex-basis: 45%;
    border-radius: 5px;
    display: flex;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    align-items: flex-start;
    cursor: pointer;
    
}
.testimony-col img{
    height: 60px;
    width: 60px;
       border-radius: 50%;
       object-fit: cover;
}
.testimony-col p{
      margin: 0;
      font-size: 14px;
      padding-left: 25px;

}
.testimony-col h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
}
.stars{
    color: #d0ea0d;
    margin-left: 16px;
}
@media(max-width:700px){
    .testimony-row {
    flex-direction: column; 
  }

    .testimony-col{
        flex-basis: 100%;
         width: 100%;
         height: auto;
    }
    .testimony-col img{
         margin-left: 0px;
        margin-right: 15px;
           }

}
.cta{
    margin: 100px auto;
    width: 85%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.pexels.com/photos/620337/pexels-photo-620337.jpeg?cs=srgb&dl=pexels-pripicart-620337.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    

}

.cta h1{
    
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.cta h5{
    color: #fff;
     margin-bottom: 40px;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
         }
         .cta h5{
            font-size: 14px;
         }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons{
    color: #f22112;
    margin: 0 13px;
    cursor: pointer;
    padding: 17px 0;
        
}